<app-nav></app-nav>

<h1 class="ml-5 text-success">To-DO List</h1>

<div class="container">
  <div class="form-group">
    <input type="text" [(ngModel)]="message" />
    <button class="btn btn-primary" (click)="add()">
      <i class="fa fa-plus"></i> Add
    </button>

    <table class="mt-4 table w-too table-stripe">
      <tbody>
        <tr
          *ngFor="let item of array; let i = index"
          [ngStyle]="{ backgroundColor: message }"
        >
          <td>{{ i + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>
            <i
              class="{{
                item.done
                  ? ' fa fa-check text-success'
                  : ' fa fa-times text-danger'
              }}"
            ></i>
          </td>
          <td>
            <button class="btn btn-success" (click)="check(i)">
              {{ item.done ? "UNCHECK" : "CHECK" }}
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="del(i)">delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
